.jumbotron {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./../assets/img/background.png);
  background-size: cover;
  background-position: center;
  color: white;
}
